@font-face {
    font-family: 'MaPolice';
    src: url("../img/Akhand.otf");
}

body{
	margin: 0px;
	font-family: 'MaPolice', Helvetica,sans-serif;
	padding: 0px;
}

#container{
	display: flex;
	flex-wrap: wrap;
}

header{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #E1DCD2;
	font-size: 0.7em;
	padding: 0.5%;
}

#intro{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 2%;
	background-color: #F0F0EB;
}

nav{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	background-color: #F0F0EB;
}



textarea{
	resize: none;
}